<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.silwek.cleverchat">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.ChatRoomsActivity"
            android:label="@string/title_chatroom_list"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activities.ChatActivity"
            android:parentActivityName=".ui.activities.ChatRoomsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.silwek.cleverchat.ui.activities.ChatRoomsActivity"/>
        </activity>
        <activity
            android:name=".ui.activities.CreateChatActivity"
            android:label="@string/title_activity_create_chat"
            android:parentActivityName=".ui.activities.ChatRoomsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.silwek.cleverchat.ui.activities.ChatRoomsActivity"/>
        </activity>
    </application>
</manifest>
